.information_user_form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}

.information_user_form_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.information_user_form_input,
.information_user_form_select {
  width: 50%;
  margin-left: 40px;
}

.information_user_form_container h3 {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.dialog_box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.dialog_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog_message {
  font-size: 18px;
  margin-bottom: 20px;
}

.dialog_button {
  background-color: #5cb85c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.dialog_button:hover {
  background-color: #449d44;
}
