.back {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.back:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  cursor: pointer;
}

.back:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.label_message {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
}

.label_message h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: center;
}
