body {
  background-color: #f1f1f1;
}

.information_user_form_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.information_user_form_container h3 {
  text-align: center;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.information_user_form_label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.information_user_form_select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 50%;
}

.information_user_form_select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.information_user_form_input {
  display: block;
  max-width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.information_user_form_input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type='submit'] {
  display: block;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button[type='submit']:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  cursor: pointer;
}

button[type='submit']:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.information_user_form_container br {
  display: none;
}

@media (max-width: 768px) {
  .information_user_form_label {
    width: 100%;
    text-align: center;
  }

  /* .information_user_form_select,
  .information_user_form_input {
    width: 100%;
  } */

  button[type='submit'] {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .information_user_form_container br {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    content: '';
  }
}

/* .information_user_form_input,
.information_user_form_select {
  width: 100%;
} */
